<% if (owner) { %>
  <h2>This is your badge</h2>
<% } %>
<image src='<%= badge.image %>'>
<dl>
  <dt>Recipient</dt>
  <dd><%= recipient %></dd>

  <dt>Name</dt>
  <dd><%= badge.name %></dd>
  
  <dt>Description</dt>
  <dd><%= badge.description %></dd>
  
  <dt>Criteria</dt>
  <dd><%= badge.criteria %></dd>
  
  <dt>Issuer</dt>
  <dd><%= badge.issuer.name %> (<%= badge.issuer.origin %>)</dd>
  
  <% if (badge.issuer.org) { %>
    <dt>Org</dt>
    <dd><%= badge.issuer.org %> (<%= badge.issuer.org %>)</dd>
  <% } %>
</dl>

<% if (owner) { %>
  <form action='<%= reverse('backpack.apiAccept', {badgeId: id}) %>' method='post' style='float: left'>
    <input type='hidden' name='csrf' value='<%= csrf %>'>
    <input class='btn primary' type='submit' value='Accept'>
  </form>
  <form action='<%= reverse('backpack.apiReject', {badgeId: id}) %>' method='post'>
    <input type='hidden' name='csrf' value='<%= csrf %>'>
    <input class='btn' type='submit' value='Reject'>
  </form>
<% } %>
