<% if (error.length > 0) { %>
   <div class='alert-message error js-alert-container'>
     <a class='close js-alert-close' href='#'>x</a>
     <p><%= error %></p>
   </div>
<% } %>

<!-- #TODO use partials? -->
<% if (!badges || badges.length === 0) { %>
  <h1>No badges. Get out there and start earning some!</h1>
  <p>(By the way, <a href="http://p2pu.org">P2PU</a> would be a great place to start)</p>
<% } else { %>
  <h1>You have <%= badges.howMany %>!</h1>
  <% if (badges.pending.length) { %>
    <h2><%= badges.pending.length %> pending approval</h2>
    <div class='js-pending' id='pending-badges'>
      <% for (var i=badges.pending.length; i--; ) { %>
        <form action='<%= reverse('backpack.apiAccept', {badgeId: badges.pending[i].id}) %>' method='post'>
          <input type='hidden' name='csrf' value='<%= csrf %>'>
          <input type='image' id='id.<%= badges.pending[i].id %>' src="<%= badges.pending[i].meta.imagePath %>" width="64px">
        </form
      <% } %>
    </div>
  <% } %>
  
  <% if (badges.accepted.length) { %>
    <h2><%= badges.accepted.length %> accepted</h2>
    <div class='js-accepted' id='accepted-badges'>
      <% for (var i=badges.accepted.length; i--; ) { %>
        <img id='id.<%= badges.accepted[i].id %>' src="<%= badges.accepted[i].meta.imagePath %>" width="64px">
      <% } %>
    </div>
  <% } %>
<% } %>

<h2>Upload Badges</h2>
<p>If you have badges you've been awarded, you can upload them manually</p>

<form action='<%= reverse('backpack.upload') %>' method='post' enctype='multipart/form-data'>
  <fieldset>
    <div class='input'>
      <input type='file' name='userBadge' id='userBadge' accept='image/png'>
      <input class='btn primary' type='submit' value='Upload'>
    </div>
  </fieldset>
</form>

